 <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><a href="/add">WinService Status </a></div>
      <div class="list-group list-group-flush">
        <a href="/add" id="adduserlnk" class="list-group-item list-group-item-action bg-light">Create groupname</a>
        <a href="/addhost" id="addhostlnk" class="list-group-item list-group-item-action bg-light">Group manager</a>
        <a href="/status" id="statuslnk" class="list-group-item list-group-item-action bg-light">Status</a>
        <a href="/logout" id="logoutLnkSidebar" class="list-group-item list-group-item-action bg-light">Logout</a>
        <a href="#" id="helplnk" class="list-group-item list-group-item-action bg-light">Help</a>
        <div class="list-group submenu">
          <a href="/help/client" id="clientlnk" class="list-group-item list-group-item-action bg-light underline">Client</a>
          <a href="/help/web" id="weblnk" class="list-group-item list-group-item-action bg-light underline">Web</a>
        </div>
        
      </div>
    </div>
    <!-- /#sidebar-wrapper -->